<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aerolínea{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>

            {% if user.is_authenticated %}
                {% if user.rol == 'admin' %}
                    <li><a href="{% url 'lista_empleados' %}">Empleados</a></li>
                    <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
